<div id="listNew" class="listItem">
	<%= form_for :task, url: tasks_path do |f| %>
		<div id="listNewForm">
			<div class="listItemColumn listItemCheckbox"></div><!--
			--><div id="divNewTitle" class="listItemColumn listItemTitle"><%= f.text_field :title, :placeholder => "Task", :autofocus => true, :required => true %></div><!--
			--><div id="divNewCategory" class="listItemColumn listItemCategory"><%= select("task", "category_id", Category.order(:title).collect {|c| [ c.title, c.id ] }, { include_blank: true }) %></div><!--
			--><div id="divNewPriority" class="listItemColumn listItemPriority"><%= f.select :priority, options_for_select(["0", "1", "2", "3"], :disabled => "Priority", :selected => "3") %></div><!--
			--><div id="divNewDateCreated" class="listItemColumn listItemDateCreated"><%= Time.new.strftime("%-m/%-d") %></div><!--
			--><div id="divNewDateDue" class="listItemColumn listItemDateDue"><%= f.text_field :due, :id => 'task_due_tmp' %><%= f.hidden_field :due %></div><!--
			--><div id="divNewBlocked" class="listItemColumn listItemBlocked"><%= f.check_box :blocked %></div><!--
			--><div id="divNewLocation" class="listItemColumn listItemLocation"><%= f.text_field :location %></div><!--
			--><div id="divNewFrequency" class="listItemColumn listItemFrequency"><%= f.select :frequency, options_for_select(Task.frequencies.keys) %></div><!--
			--><div id="divNewDependee" class="listItemColumn listItemDependee"><%= f.text_field :dependee %></div><!--
			--><div id="divNewSave" class="listItemColumn listItemSave"><%= f.submit "+" %></div><!--
			--><%= f.hidden_field :list_id, :value => @list.id %>
		</div>
	<% end %>

	<% if @task && @task.errors.any? %>
	  <div id="errorSection">
	    <ul id="errorList">
		    <% @task.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
	    </ul>
	  </div>
	<% end %>
</div>