<%= form_for :task, url: tasks_path do |f| %>

<%= f.text_field :title, :placeholder => "Task", :autofocus => true %>
<%= select("task", "category_id", Category.all.collect {|c| [ c.title, c.id ] }, { include_blank: true }) %>
<%= f.select :priority, options_for_select(["Priority", "0", "1", "2", "3"], :disabled => "Priority", :selected => "3") %>
<%= f.text_field :notes, :placeholder =>"Notes" %>
<%= f.submit %>

<% end %>

<% if @task && @task.errors.any? %>
  <div id="error_explanation">
    <p><%= pluralize(@task.errors.count, "error") %> prohibited
      this task from being saved:</p>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>