<% content_for(:title, @list.title) %>

<div id="pageContent">
	<div id="centerColumn">
		<div id="listTitleDiv">
			<div id="options">
				<%= button_to "Clear Completed", { action: "clearCompleted" }, remote: true, form: { id: "formClearCompleted" } %>

				<div id="importSection">
					<%= form_tag({action: :upload}, multipart: true) do %>
						<%= submit_tag 'Import CSV' %>
						<%= file_field_tag 'csv' %>
						<% if flash[:importCountSucceeded] %>
							<div id="importSectionStatus">Imported <%= pluralize(flash[:importCountSucceeded], 'task') %> successfully. Failed to import <%= pluralize(flash[:importCountFailed], 'tasks') %>.</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div id="listTitleHeaders">
				<% @lists.each do |list| %>
					<div class="listTitleHeader">
						<%= link_to(list.title, list, class: 'listTitleHeaderText') %>
						<% if @constrainedList && (list.id == @list.id) %>
							<span class="removeConstraintLink"><%= link_to('[remove constraints]', tasks_path) %></span>
						<% end %>
					</div>
					<div class="listTitleHeaderSeparator">|</div>
				<% end %>
				<div id="listTitleHeaderNew"><%= link_to '+', lists_path, action: 'create', method: 'post', remote: true %></div>
			</div>
		</div>
		
		<div id="listItems">
			<div id="listHeaders">
				<div class="listItemColumn listItemCheckbox"></div><!--
				--><div class="listItemColumn listItemTitle"><%= link_to('Task ('+@tasks.count.to_s+')', tasks_path(sort: 'task')) %></div><!--
				--><div class="listItemColumn listItemCategory"><%= link_to('Category', tasks_path(sort: 'category')) %></div><!--
				--><div class="listItemColumn listItemPriority"><%= link_to('P', tasks_path(sort: 'priority')) %></div><!--
				--><div class="listItemColumn listItemDateCreated"><%= link_to('Created', tasks_path(sort: 'created')) %></div><!--
				--><div class="listItemColumn listItemDateDue"><%= link_to('Due', tasks_path(sort: 'due')) %></div><!--
				--><div class="listItemColumn listItemBlocked"><%= link_to('Blocked', tasks_path(sort: 'blocked')) %></div><!--
				--><div class="listItemColumn listItemDelete"></div>
			</div>
 
 		   	<%= render 'form' %>

			<% prevTask = nil %>
		    <% @tasks.each do |task| %>

				<% beginNewSectionPriority = @showPriorityHeaders && (!prevTask || (prevTask.priority != task.priority)) %>
				<% beginNewSectionCategory = @showCategoryHeaders && (!prevTask || (prevTask.priority != task.priority) || (prevTask.category_id != task.category_id)) %>
				<% if beginNewSectionCategory && prevTask # End previous category section %>
					</div></div>
				<% end %>
				<% if beginNewSectionPriority %>
					<% if prevTask # End previous priority section %>
						</div></div>
					<% end %>
					<div class="listSectionPriority" data-priority="<%= task.priority %>">
						<div class="listSectionHeader listSectionHeaderPriority" data-priority="<%= task.priority %>">P<%= task.priority %></div>
						<div class="listSectionItems" data-priority="<%= task.priority %>">
				<% end %>
				<% if beginNewSectionCategory %>
					<div class="listSectionCategory" data-category_id="<%= task.category_id %>">
						<div class="listSectionHeader listSectionHeaderCategory" data-priority="<%= task.priority %>" data-category_id="<%= task.category_id %>"><%= task.category_title ? task.category_title : '[no category]' %></div>
						<div class="listSectionItems" data-priority="<%= task.priority %>" data-category_id="<%= task.category_id %>">
				<% end %>

			    <div class="listItem <%= if task.done; 'listItemTaskCompleted' end %>" id="listItem_<%= task.id %>">
			      <div class="listItemColumn listItemCheckbox"><%= check_box("completed", task.id, {checked: task.done, class: 'taskCheckbox', :data => {:remote => true, :url => url_for(:action => 'complete', :id => task.id), :id => task.id, :method => :put}}) %></div><!--
			      --><div id="title_<%= task.id %>" class="listItemColumn listItemTitle <%= if task.done; 'taskCompleted' end %>"><%= task.title %></div><!--
				  --><div id="category_<%= task.id %>" class="listItemColumn listItemCategory <%= if task.done; 'taskCompleted' end %>"><%= if task.category_title; link_to(task.category_title, tasks_path(category: task.category_id)) end %></div><!--
				  --><div id="priority_<%= task.id %>" class="listItemColumn listItemPriority <%= if task.done; 'taskCompleted' end %>"><%= link_to(task.priority, tasks_path(priority: task.priority)) %></div><!--
				  --><div id="datecreated_<%= task.id %>" class="listItemColumn listItemDateCreated <%= if task.done; 'taskCompleted' end %>"><time datetime="<%= task.created_at.strftime("%FT%T%:z") %>"><%= link_to(task.created_at.strftime("%-m/%-d"), tasks_path(created: task.created_at.strftime("%F"))) %></time></div><!--
				  --><div id="datedue_<%= task.id %>" class="listItemColumn listItemDateDue <%= if task.done; 'taskCompleted' end %>"><% if task.due; %><time datetime="<%= task.due.strftime("%F") %>"><%= link_to(task.due.strftime("%-m/%-d"), tasks_path(due: task.due.strftime("%F"))) %></time><% end %></div><!--
				  --><div id="blocked_<%= task.id %>" class="listItemColumn listItemBlocked <%= if task.done; 'taskCompleted' end %>"><%= task.blocked ? 'Yes' : '' %></div><!--
				  --><div class="listItemColumn listItemDelete"><%= link_to 'X', task_path(task), method: :delete, data: {confirm: 'Are you sure?', :id => task.id}, remote: true, class: 'taskDelete' %></div>
			  	</div>

				<% prevTask = task %>
		    <% end %>

			<% if @showCategoryHeaders && !@tasks.empty? %>
				</div></div>
			<% end %>
			<% if @showPriorityHeaders && !@tasks.empty? %>
				</div></div>
			<% end %>
		</div>
	</div>
</div>

