<div id="pageContent">
	<div id="centerColumn">
		<div id="listTitle"><h1>Tasks</h1></div>
		
		<div id="listItems">
			<div id="listHeaders">
				<div class="listItemColumn listItemCheckbox"></div><!--
				--><div class="listItemColumn listItemTitle"><%= link_to('Task', tasks_path(sort: 'task')) %></div><!--
				--><div class="listItemColumn listItemCategory"><%= link_to('Category', tasks_path(sort: 'category')) %></div><!--
				--><div class="listItemColumn listItemPriority"><%= link_to('P', tasks_path(sort: 'priority')) %></div><!--
				--><div class="listItemColumn listItemDelete"></div>
			</div>
 
 		   	<%= render 'form' %>
 
		    <% @tasks.each do |task| %>
			    <div class="listItem" id="listItem_<%= task.id %>">
			      <div class="listItemColumn listItemCheckbox"><%= check_box("completed", task.id, {checked: task.done, class: 'taskCheckbox', :data => {:remote => true, :url => url_for(:action => 'complete', :id => task.id), :id => task.id, :method => :put}}) %></div><!--
			      --><div id="title_<%= task.id %>" class="listItemColumn listItemTitle <%= if task.done; 'taskCompleted' end %>"><%= task.title %></div><!--
				  --><div id="category_<%= task.id %>" class="listItemColumn listItemCategory <%= if task.done; 'taskCompleted' end %>"><%= Category.find(task.category_id).title %></div><!--
				  --><div id="priority_<%= task.id %>" class="listItemColumn listItemPriority <%= if task.done; 'taskCompleted' end %>"><%= task.priority %></div><!--
				  --><div class="listItemColumn listItemDelete"><%= link_to 'X', task_path(task), method: :delete, data: {confirm: 'Are you sure?', :id => task.id}, remote: true, class: 'taskDelete' %></div>
			  	</div>
		    <% end %>
		</div>
	</div>
</div>