<div id="pageContent">
	<div id="centerColumn">
		<div id="listTitle"><h1>Tasks</h1></div>
		
		<div id="listItems">
			<div id="listHeaders">
				<div class="listItemColumn listItemCheckbox"></div><!--
				--><div class="listItemColumn listItemTitle">Task</div><!--
				--><div class="listItemColumn listItemCategory">Category</div><!--
				--><div class="listItemColumn listItemPriority">P</div><!--
				--><div class="listItemColumn listItemDelete"></div>
			</div>
 
 		   	<%= render 'form' %>
 
		    <% @tasks.each do |task| %>
			    <div class="listItem">
			      <div class="listItemColumn listItemCheckbox"><%= check_box("completed", task.id, {checked: task.done, class: 'taskCheckbox', :data => {:remote => true, :url => url_for(:action => 'complete', :id => task.id), :method => :put}}) %></div><!--
			      --><div class="listItemColumn listItemTitle <%= if task.done; 'taskCompleted' end %>"><%= task.title %></div><!--
				  --><div class="listItemColumn listItemCategory <%= if task.done; 'taskCompleted' end %>"><%= Category.find(task.category_id).title %></div><!--
				  --><div class="listItemColumn listItemPriority <%= if task.done; 'taskCompleted' end %>"><%= task.priority %></div><!--
				  --><div class="listItemColumn listItemDelete"><%= link_to 'X', task_path(task), method: :delete, data: {confirm: 'Are you sure?'}%></div>
			  	</div>
		    <% end %>
		</div>
	</div>
</div>