<% content_for(:title, @list.title) %>

<div id="pageContent">
	<div id="centerColumn">
		<div id="listTitleDiv">
			<h1 id="listTitleHeader"><%= @list.title %></h1>
			<%= form_for :list, url: list_path(@list), method: :patch, remote: true do |f| %>
				<%= f.text_field :title %>
			<% end %>
			<% if @listConstrained %>
				<span id="removeConstraintLink"><%= link_to('[remove constraints]', tasks_path) %></span>
			<% end %>
		</div>
		
		<div id="listItems">
			<div id="listHeaders">
				<div class="listItemColumn listItemCheckbox"></div><!--
				--><div class="listItemColumn listItemTitle"><%= link_to('Task ('+@tasks.count.to_s+')', tasks_path(sort: 'task')) %></div><!--
				--><div class="listItemColumn listItemCategory"><%= link_to('Category', tasks_path(sort: 'category')) %></div><!--
				--><div class="listItemColumn listItemPriority"><%= link_to('P', tasks_path(sort: 'priority')) %></div><!--
				--><div class="listItemColumn listItemDateCreated"><%= link_to('Created', tasks_path(sort: 'created')) %></div><!--
				--><div class="listItemColumn listItemBlocked"><%= link_to('Blocked', tasks_path(sort: 'blocked')) %></div><!--
				--><div class="listItemColumn listItemDelete"></div>
			</div>
 
 		   	<%= render 'form' %>
 
		    <% @tasks.each do |task| %>
			    <div class="listItem" id="listItem_<%= task.id %>">
			      <div class="listItemColumn listItemCheckbox"><%= check_box("completed", task.id, {checked: task.done, class: 'taskCheckbox', :data => {:remote => true, :url => url_for(:action => 'complete', :id => task.id), :id => task.id, :method => :put}}) %></div><!--
			      --><div id="title_<%= task.id %>" class="listItemColumn listItemTitle <%= if task.done; 'taskCompleted' end %>"><%= task.title %></div><!--
				  --><div id="category_<%= task.id %>" class="listItemColumn listItemCategory <%= if task.done; 'taskCompleted' end %>"><%= link_to(task.category_title, tasks_path(category: task.category_id)) %></div><!--
				  --><div id="priority_<%= task.id %>" class="listItemColumn listItemPriority <%= if task.done; 'taskCompleted' end %>"><%= link_to(task.priority, tasks_path(priority: task.priority)) %></div><!--
				  --><div id="datecreated_<%= task.id %>" class="listItemColumn listItemDateCreated <%= if task.done; 'taskCompleted' end %>"><time datetime="<%= task.created_at.strftime("%FT%T%:z") %>"><%= task.created_at.strftime("%-m/%-d") %></time></div><!--
				  --><div id="blocked_<%= task.id %>" class="listItemColumn listItemBlocked <%= if task.done; 'taskCompleted' end %>"><%= task.blocked ? 'Yes' : '' %></div><!--
				  --><div class="listItemColumn listItemDelete"><%= link_to 'X', task_path(task), method: :delete, data: {confirm: 'Are you sure?', :id => task.id}, remote: true, class: 'taskDelete' %></div>
			  	</div>
		    <% end %>
		</div>
	</div>
	<div id="importSection">
		<%= form_tag({action: :upload}, multipart: true) do %>
			<%= file_field_tag 'csv' %>
			<%= submit_tag 'Import CSV' %>
			<% if flash[:importCountSucceeded] %>
				<div id="importSectionStatus">Imported <%= pluralize(flash[:importCountSucceeded], 'task') %> successfully. Failed to import <%= pluralize(flash[:importCountFailed], 'tasks') %>.</div>
			<% end %>
		<% end %>
	</div>
</div>

