<% content_for(:title, @list.title) %>

<div id="pageContent">
	<div id="centerColumn">
		<div id="listTitleDiv">
			<div id="options">
				<button id="newTaskButton">New</button>
				<%= button_to "Clear Completed", { action: "clearCompleted" }, remote: true, form: { id: "formClearCompleted" } %>

				<div id="importSection">
					<%= form_tag({action: :upload}, multipart: true) do %>
						<%= submit_tag 'Import CSV' %>
						<%= file_field_tag 'csv' %>
						<% if flash[:importCountSucceeded] %>
							<div id="importSectionStatus">Imported <%= pluralize(flash[:importCountSucceeded], 'task') %> successfully. Failed to import <%= pluralize(flash[:importCountFailed], 'tasks') %>.</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div id="listTitleHeadersSection">
				<div id="listTitleHeaders">
					<% @lists.each do |list| %><!--
						--><div class="listTitleHeader <%= if (list.id == @list.id); 'listTitleHeaderCurrent' end %>">
							<%= link_to(list.title, list, class: 'listTitleHeaderText') %>
							<% if @constrainedList && (list.id == @list.id) %>
								<span class="removeConstraintLink"><%= link_to('[remove constraints]', tasks_path) %></span>
							<% end %>
						</div><!--
					--><% end %><!--
				--></div><!--
				--><div id="listTitleHeaderNew"><%= link_to '+', lists_path, action: 'create', method: 'post', remote: true, id: 'listTitleHeaderNewLink' %></div>
			</div>
		</div>

		<div id="listItems">
			<% if @showAllColumns %>
			<div id="listHeaders">

				<% Field.where("displayInFullList='t' OR displayInSimpleList='t'").each do |f| %><!--
					--><% if shouldDisplayField(f) %><!--
					--><div class="listItemColumn listItem-<%= f.name %>"><!--
						--><% if f.field == Field::STATUS %><!--
							--><%= f.titleForList %><!--
						--><% else %><!--
							--><%= link_to(f.titleForList, tasks_path(sort: f.name)) %><!--
						--><% end %><!--
					--></div><!--
					--><% end %><!--
				--><% end %>

			</div>
			<% end %>

			<% @prevTask = nil %>
			<%= render @tasks %>

			<% if @showCategoryHeaders && !@tasks.empty? %>
				</div></div>
			<% end %>
			<% if @showPriorityHeaders && !@tasks.empty? %>
				</div></div>
			<% end %>
		</div>
	</div>
</div>

<div id="newTaskDialog" title="New Task">
<%= render 'form' %>
</div>

<% if @reshowNewTaskForm; %>
<script type="text/javascript">
     $(document).ready(function(){ $('#newTaskDialog').dialog('open') });
</script>
<% end %>
